*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}
.imgBox img{
    max-width: fit-content;
    width: 73%;
    height: 100%;
    text-align: center;
    justify-content: center;


}
.music{
    opacity: 0;
}
.imgBox{
    text-align: center;
    justify-content: center;

}
@media only screen and (max-width: 500px) {
    .imgBox img{
        width: 100%;
    }
}


